@using ToolTrackApp.Model.Entities.ResourceRegion;

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.CreateUser</h2>
@using (Html.BeginForm("User", "SaveUser", new { }, FormMethod.Post))
{

}



